
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Manage Computers</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>

</head>
<body>
    <h2 align="center">Computer Details</h2>


    <div style="width:95%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="/ComputerLab/save/0" style="margin-bottom:20px; margin-top:20px;">+ Add New Computer</a>
        <a class="btn btn" href="/Lab/Index/0" float="right" style="margin-bottom:20px; margin-top:20px;">See Lab Details</a>
        <a class="btn btn" href="/Repair/Index/0" float="right" style="margin-bottom:20px; margin-top:20px;">See Repair Details</a>
        <table id="myDataTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Lab<br />ID</th>
                    <th>Machine<br />ID</th>
                    <th>Processor<br />Type</th>
                    <th>Motherboard<br />ID</th>
                    <th>PowerSupply<br />ID</th>
                    <th>RAM<br />Capacity</th>
                    <th>HDD<br />Capacity</th>
                    <th></th>
                </tr>

            </thead>
        </table>



    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('#myDataTable').DataTable({
                "ajax": {
                    "url": '/ComputerLab/GetMachineDetails',
                    "type": "get",
                    "datatype": "json"
                },


                "columns": [
                    { "data": "LabNo", "autoWidth": true },
                    { "data": "MachineNO", "autoWidth": true },
                    { "data": "Processor_Type", "autoWidth": true },
                    { "data": "Motherboard_ID", "autoWidth": true },
                    { "data": "PowerSupply_ID", "autoWidth": true },
                    { "data": "RAM_Capacity", "autoWidth": true },
                    { "data": "HDD_Capacity", "autoWidth": true },
                    {
                        "data": "MachineNO",  "render": function (data) {
                            return '<a  class="popup btn btn-default btn-sm" href="/ComputerLab/save/' + data + '" ><i class="fa fa-pencil"></i> Edit</a> &nbsp&nbsp&nbsp <a class="popup btn btn-danger btn-sm"  href="/ComputerLab/delete/' + data + '"><i class="fa fa-trash"></i>Delete</a>';
                        }
                    },

                ],
                "language": {
                    "emptyTable": "No data found, Please click on <b>Add New Computer</b> Button "
                }

            })

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });
                //popup window settings
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Computer Management',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                //popup form
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();


                                $.notify(data.message, {
                                    globalPosition: 'top right',
                                    hideAnimation: 'slideUp',
                                    showAnimation: 'slideDown',
                                    className: "success"
                                })
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
</body>
</html>